
<mat-card>
  <mat-card-title>Raad het getal</mat-card-title>
  <mat-card-subtitle>Raad het getal tussen 0 en 100</mat-card-subtitle>
  <mat-card-content>
  <div *ngIf=!gameOn>
    <button mat-raised-button color="primary" (click)="startGame()">Start nieuw spel</button>

  </div>


  <div *ngIf=gameOn> 
    <div>
      <mat-form-field>
        <mat-label>Kies je getal</mat-label>
        <input matInput type="number" min="0" max="99" #guessInput/>
      </mat-form-field>
    </div>
    <button (click)="guess(guessInput.value)" mat-raised-button color="primary"
      matBadge="{{ guessesLeft }}" matBadgeColor="accent" matBadgePosition="after">Doe een gok</button>

  </div>
  <p *ngIf="message">{{ message }}</p>
</mat-card-content>
</mat-card>